@charset "UTF-8";

/*
Author:
Marko Mitrović
https://www.linkedin.com/in/marko-mitrović-119151bb
*/

@font-face {
  font-family: 'Xolonium-Bold_0';
  src: url(../fonts/Xolonium-Bold_0.otf);
}

@font-face {
  font-family: 'Xolonium-Regular_0';
  src: url(../fonts/Xolonium-Regular_0.otf);
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: #000;
}

a {
  text-decoration: none;
}

.bg4 {
  background-color: red;
  background-image: linear-gradient(to bottom right, #011689, #9c0238);
  padding: 14px 0 57px;
}

.test4 {
  margin: 0 0 -50px;
  max-width: 600px;
}

#textColorPink {
  color: #ff0072;
  cursor: pointer;
}

#textColorBlue {
  cursor: pointer;
  /*transition: .3s ease-in-out;*/
}

.group-color-change {
  cursor: pointer;
}

.image-change-fourth {
  max-width: 900px;
  margin: 25px auto 0;
}

.bg2 {
  background-color: red;
  background-image: linear-gradient(to bottom right, #011689, #9c0238);
  padding: 1px 0 0;
}

.bg3 {
  background-color: #171717;
}

.group-text-third {
  margin: -30px 0 0;
}

#titlePinkFirst,
#titlePinkSecond,
#titlePinkThird {
  color: #ff0072;
}

#linePinkFirst,
#linePinkSecond,
#linePinkThird {
  border-color: #ff0072;
}

.linePinkFirst,
.linePurpleFirst,
.lineBlueFirst {
  margin: -9px 0 0;
}

.linePinkSecond,
.linePurpleSecond,
.lineBlueSecond {
  margin: -10px 0 0;
}

.linePinkThird,
.linePurpleThird,
.lineBlueThird {
  margin: -10px 0 0;
}

.lineBlue {
  margin: -10px 0 0;
  border-top: .1px solid #cccaca;
}

.subtitle {
  font-size: 21px;
  margin-left: 20px;
  margin-right: 20px;
}

.container {
  max-width: 1200px;
  margin: auto;
  background-color: #000;
}

.col-12 {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0 0;
}

.col-12-2 {
  display: flex;
  margin: 35px 0 40px;
}

.col-12-3 {
  display: flex;
  margin: 35px 0 40px;
  padding: 0 0 45px;
}

.background-image {
  background-image: url(../images/background.jpg);
  height: 550px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.text-center {
  justify-content: center;
  align-items: center;
}

.col-6 {
  width: 50%;
}

.image-change-first {
  max-width: 600px;
}

.image-change-second {
  max-width: 466px;
  margin: auto;
}

.col-3 {
  width: 33%;
  text-align: center;
}

.test2,
.test3 {
  max-width: 446px;
  margin: 20px 100px 0;
  z-index: 1;
  position: relative;
}

.icon {
  width: 60px;
  margin: 9px;
}

.text-icon {
  text-align: center;
  font-size: 14px;
}

.title-menu {
  color: #fff;
  font-weight: 100;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  display: flex;
  height: 35px;
  align-items: center;
  justify-content: center;
  font-size: 21px;
}

.text-menu {
  margin: 0 50px 0;
}

.group-icon {
  display: flex;
  flex-wrap: wrap;
}

.center {
  text-align: center;
}

.cube {
  width: 140px;
  height: 430px;
  background-color: red;
  -webkit-animation-name: example;
  -webkit-animation-duration: 5s;
  animation-name: example;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  transform: rotate(-3deg);
  position: relative;
  bottom: -566px;
  left: 366px;
  display: inline-block;
}

.background {
  background-color: transparent;
  background-image: linear-gradient(transparent, #000);
  position: relative;
  height: 300px;
  bottom: -445px;
}

.background-two {
  background: url(../images/ROG_Strix_Helios.jpg);
  height: 935px;
  margin: 0 0 -407px;
}

.group-text-two {
  position: relative;
  bottom: 450px;
  height: 0;
}

.group-text {
  height: 0;
  position: relative;
  bottom: 275px;
}

.text-full {
  margin: 0 50px 0;
}

.text {
  margin: 29px 50px 7px;
}

.main-subtitle {
  font-size: 28px;
}

.group-text-aura {
  margin: -39px 50px 7px;
}

.group-text-aura-sec {
  margin: 0 50px 0;
}

.note {
  font-size: 14px;
  font-weight: 400;
  color: #828282;
}

.text-href {
  color: #ff009c;
  display: inline-block;
  margin: 0 0 17px;
}

.col-62 {
  width: 50%;
}

.col-72 {
  width: 50%;
}

.col-82 {
  width: 50%;
  justify-content: center;
  align-items: center;
}

.col {
  display: flex;
  padding: 0 0 25px;
  margin: 0;
}

.col2 {
  display: flex;
  padding: 50px 0 25px;
  margin: -57px 0 0;
}

.gradient {
  background: linear-gradient(to right, #282828 0%, #0b0b0b 100%);
}

img {
  width: 100%;
  display: block;
}

video {
  width: 100%;
  display: block;
}

.video1 {
  max-width: 1200px;
  margin: -300px 0 0;
}

.href-one {
  color: #ff009c;
}

.href-two {
  color: #8c64eb;
}

.href-three {
  color: #2049ff;
}

.colorful {
  color: #ff0072;
  background: transparent;
  background: linear-gradient(to right, #ff0072 0%, #8c64eb 50%, #2049ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 100;
}

.title-full {
  margin: 30px 20px 20px;
}

.title-full-middle {
  margin: 110px 20px 20px;
}

.title-full-bottom {
  margin: 50px 0 20px;
}

.title-right {
  text-align: left;
  font-size: 32px;
}

.group-selection-second {
  margin: 0 60px 0;
}

.color-selection {
  display: flex;
  margin: 25px 0 0px;
}

.color-pink {
  background: #ff0072;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.color-blue {
  background: #2049ff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

h2 {
  color: #c8c8c8;
  font-weight: 400;
  text-align: left;
  margin: 0 40px 30px;
}

h3 {
  color: #fff;
  text-align: center;
  font-family: 'Xolonium-Regular_0';
  font-size: 34px;
  font-weight: 600;
  margin: 70px 0 0;
}

h4 {
  color: #c8c8c8;
  text-align: center;
  font-family: 'Xolonium-Regular_0';
}

p {
  color: #fff;
  font-weight: 300;
  line-height: 1.5;
}

ul {
  color: #fff;
  text-align: left;
  font-size: 12px;
  list-style: none;
}

ul li::before {
  content: "\2022";
  color: rgba(255, 0, 0, 0.61);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

li {
  margin: 0 0 -15px;
}

.img1 {
  max-width: 400px;
  margin: 40px 30px 0;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0% {
    background-color: #25deff;
  }

  25% {
    background-color: #fd0044;
  }

  50% {
    background-color: #fe9500;
  }

  75% {
    background-color: #ff22b5;
  }

  100% {
    background-color: #25deff;
  }
}

/* Standard syntax */
@keyframes example {
  0% {
    background-color: #25deff;
  }

  25% {
    background-color: #fd0044;
  }

  50% {
    background-color: #fe9500;
  }

  75% {
    background-color: #ff22b5;
  }

  100% {
    background-color: #25deff;
  }
}

@media screen and (max-width:1160px) {

  .background {
    display: none;
  }

  .group-text {
    height: unset;
    bottom: unset;
    margin: -40px 0 30px;
  }

  .video1 {
    margin: 0;
  }

  .col-72 {
    width: 100%;
  }

  .col-82 {
    width: 100%;
  }

  .col2 {
    flex-direction: column;
  }

  .cube {
    bottom: -560px;
    left: 112px;
    display: block;
    margin: auto;
  }

  .test2,
  .test3 {
    margin: 0 auto 0;
  }

  .group-text-third {
    margin: -45px 0 0px;
  }

  .background-two {
    margin: 0 0 -403px;
  }

}

@media screen and (max-width:1128px) {

  .img1 {
    margin: 0 auto 0;
  }

  ul {
    margin: 0 20px 0 -5px;
  }

  h2 {
    margin: 0 35px 30px;
  }

  .col-62 {
    width: 100%;
  }

  .col {
    display: flex;
    flex-direction: column-reverse;
  }

}

@media screen and (max-width:768px) {

  .test2,
  .test3 {
    max-width: 330px;
    margin: 0 auto 0;
  }

  .cube {
    bottom: -432px;
    left: 72px;
    height: 390px;
  }

  .background-two {
    margin: 0 0 -363px;
  }

  .title-menu {
    font-size: 19px;
  }

  .title-full {
    margin: 0 20px 20px;
  }

}

@media screen and (max-width:767px) {

  .col-12 {
    display: block;
  }

  .col-3 {
    width: 100%;
  }

  .title-menu {
    font-size: 16px;
    height: unset;
  }

  .col-6 {
    width: 100%;
  }

  .col-12-2 {
    display: block;
  }

  .col-12-3 {
    display: block;
    padding: 0 0 15px;
 }

  .image-change-first {
    max-width: 600px;
    margin: 0 auto 0;
  }

  .text {
    margin: 0 20px 0;
  }

  .group-text-aura {
    margin: -30px 20px -35px;
  }

  .test2 {
    margin: 30px auto -10px;
  }

  .test3 {
    margin: 50px auto -10px;
  }

  .col2 {
    padding: 35px 0 25px;
  }

  .text-menu {
    margin: 0 20px 0;
  }

  .group-text-third {
    margin: -75px 0 35px;
  }

  .video1 {
    margin: -10px 0 0;
  }

  .text-full {
    margin: 0 20px 0;
  }

}

@media screen and (max-width:425px) {

  h2 {
    margin: 0 20px 30px;
  }

  h3 {
    font-size: 30px;
  }

  ul {
    margin: 0 15px 0 -15px;
  }

  .title-right {
    text-align: center;
  }

  .title-right {
    font-size: 30px;
  }

  .text {
    margin: 0 10px 0;
  }

}

@media screen and (max-width:375px) {

  h3 {
    font-size: 28px;
  }

  .title-right {
    font-size: 28px;
  }

  .title-right {
    font-size: 28px;
  }

  .test2 {
    max-width: 300px;
  }

  .test3 {
    max-width: 300px;
  }

  .cube {
    bottom: -392px;
    left: 52px;
    height: 350px;
  }

}

@media screen and (max-width:349px) {

  h3 {
    font-size: 26px;
  }

  .title-right {
    font-size: 26px;
  }

  .title-right {
    font-size: 26px;
  }

}